<!DOCTYPE html>
<html>
<head>
  <title>Danielle's Calligraphy Services</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>
	<% if notice %>
		<p class="alert alert-info" role="alert"><%= notice %></p>
	<% end %>

	<% if alert %>
    	<p class="alert alert-warning" role="alert"><%= alert %></p>
    <% end %>

	<nav>
		<div class="navbar navbar-default navbar-fixed-top" id="myNavbar">
			<div class="container-fluid">
			<form class="navbar-form navbar-left" role="search">
				<div class="form-group">
					<%= form_tag("/products", method: "get", class: "form-inline") do %>
					<%= text_field_tag(:q, " ", class: "form-control") %>
					<%= submit_tag("Search", class: "btn btn-default") %>
					<% end %>
				</div>
			</form>
			
			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to "Home", static_pages_index_path %></li>
				<li><%= link_to "About", static_pages_about_path %></li>
				<li><%= link_to "Contact", static_pages_contact_path %></li>
				<li><%= link_to "Products", products_path %></li>
				<li>
				<% if user_signed_in? %>
					<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
				<% else %>
					<%= link_to('Login', new_user_session_path) %>
				<% end %>	
				</li>
			</ul>
		</div> <!-- end navbar collapse -->
		</div>
	</nav>

<%= yield %>

<footer>
	<div class="copyright">
	&copy; 2016 Danielle Bukvic
	</div>
</footer>

</body>
</html>
