<!DOCTYPE html>
<html>
<head>
  <title>Nameofapp</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>
	<nav>
		<div class="collapse navbar-collapse" id="myNavbar">
			<form class="navbar-form navbar-right" role="search">
				<div class="form-group">
					<%= form_tag("/products", method: "get") do %>
					<%= text_field_tag(:q, "Search") %>
					<%= submit_tag("Search") %>
					<% end %>
				</div>
			</form>
			
			<ul class="nav navbar-nav">
				<li><%= link_to "Home", static_pages_index_path %></li>
				<li><%= link_to "About", static_pages_about_path %></li>
				<li><%= link_to "Contact", static_pages_contact_path %></li>
			</ul>	
		</div> <!-- end navbar collapse -->
	</nav>

<%= yield %>

<footer>
	<div class="copyright">
	&copy; 2016 Danielle Bukvic
	</div>
</footer>

</body>
</html>
